.pull-right a {
    padding-left: 5px;
    padding-right: 5px;
}

.caret.caret-rotated {
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
