.pull-right a {
    padding-left: 5px;
    padding-right: 5px;
}

.panel-heading > .fa {
    margin-right: 5px;
    color: #1d8dfb;
}

.panel-default > .panel-heading {
    background-color: #fcfcfc;
}

.panel-heading {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
